<!DOCTYPE html>
<html>
<head>
    <title>{{ theme_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../../includes/css/style.css">
    <script src="../../includes/js/jquery-1.12.0.min.js"></script>
    <script src="../../includes/js/changeLanguage.js"></script>
</head>
<body>
    <div class="wrapper">

        <nav class="lang">
            <a href="index-kid.html" id="kid" class="{{ 'active' if language == 'kid' }}">FOR BØRN</a>
            <a href="index.html" id="da" class="{{ 'active' if language == 'dk' }}">DK</a>
            <a href="index-uk.html" id="en" class="{{ 'active' if language == 'uk' }}">UK</a>
        </nav>
        <h1 class="uppercase home">{% if  title_main_character %}{{ title_main_character }}{% else %}{{ theme_title }}{% endif %}</h1>

        {% if  title_main_character %}
        <div class="txtPerson">
        <p>{{ main_character_description }}</p>
        <button class="button" onclick="$:location.href='{{ {"dk":"personItems.html", "uk":"personItemsUk.html", "kid":"personItemsKid.html"}[language] | default("Billedalbum") }}'">
            {{ {"uk":"Read more about the objects"}[language] | default("L&aelig;s om de enkelte genstande") }}
        </button>
        </div>
        {% else %}
            {% for key, item in items.items() %}
                    <div class="item item{{ '{:02}'.format(key | int) }}" onclick="$:location.href='item{{ key }}/text.html'">
                        <span class="number">{{ key }}</span>
                        <p class="numbTxt">
                            {{ item.short_description }}
                        </p>
                        <button class="button">
                            {{ {"uk":"Press for more information"}[language] | default("Tryk her for mere information") }}
                        </button>
                    </div>
            {% endfor %}
        {% endif %}
    </div>

</body>

</html>
