<!DOCTYPE html>
<html>
<head>
    <title>{{ theme_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../../../../includes/css/style.css">
    <script src="../../../../includes/js/jquery-1.12.0.min.js"></script>
    <script src="../../../../includes/js/changeLanguage.js"></script>
</head>
<body>

    <div class="wrapper">

        <nav class="lang">
            <a href="index.html" id="da" class="{{ 'active' if language == 'dk' }}">DK</a>
            <a href="indexUk.html" id="en" class="{{ 'active' if language == 'uk' }}">UK</a>
        </nav>

        <h1 class="uppercase">{{ theme_title }}</h1>

        <div class="txtPerson">
            <p>{{ short_description }}</p>
            <button class="button" onclick="$:location.href='personItems.html'">L&aelig;s om de enkelte genstande</button>
        </div>

    </div>

</body>

</html>
