
/* Style for montana exhibition
*************************************************************/
/* KB's new fonts */
/* Serifs */
@font-face {
    font-family: 'BerlingskeSerifCn-Bd';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifCn-Bd.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSerifCn-BdIt';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifCn-BdIt.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSerifCn-Blk';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifCn-Blk.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSerifCn-BlkIt';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifCn-BlkIt.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSerifCn-DBd';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifCn-DBd.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSerifCn-DBdIt';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifCn-DBdIt.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSerifCn-It';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifCn-It.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSerifCn-Rg';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifCn-Rg.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSerifText-Light';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifText-Light.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSerifText-LightItalic';
    src:  url('../Berlingske_typografi/BerlingskeSerif/BerlingskeSerifText-LightItalic.otf') format('opentype');
}
/* San-Serifs */
@font-face {
    font-family: 'BerlingskeSans-Lt';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSans-Lt.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSans-LtIt';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSans-LtIt.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSansCn-Bd';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSansCn-Bd.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSansCn-BdIt';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSansCn-BdIt.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSansCn-Blk';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSansCn-Blk.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSansCn-BlkIt';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSansCn-BlkIt.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSansCn-DBd';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSansCn-DBd.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSansCn-DBdIt';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSansCn-DBdIt.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSansCn-It';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSansCn-It.otf') format('opentype');
}
@font-face {
    font-family: 'BerlingskeSansCn-Rg';
    src:  url('../Berlingske_typografi/BerlingskeSans/BerlingskeSansCn-Rg.otf') format('opentype');
}

/* FONTS */
@font-face {
    font-family: 'Verlag-Black';
    src:  url('../fonts/Verlag/Verlag-Black.otf') format('opentype');
}
@font-face {
    font-family: 'Verlag-Book';
    src:  url('../fonts/Verlag/Verlag-Book.otf') format('opentype');
}


/*RESET HTML*/
*, html, p, h1{
    padding:0;
    padding-top: 0px;
    margin:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
em{
    font-style: italic;
}

/* Global style*/
body{
    background-color: black;
    color:#FFF;
    font-family: 'BerlingskeSansCn-Rg', sans-serif;
    font-size: 18px;
    width: 100%;
    padding-top: 5px;
}
a, button, .button{
    background:#FFF;
    color:#000;
    text-decoration: none;
    text-align: center;
    padding:5px 10px;
}

p{
    padding-bottom:20px;
}
.wrapper{
    position: relative;
    width:1024px;
    height:708px; /* -60px Kiosk native navbar is 60px heigh*/
    overflow: hidden;
}

/* Top nav language*/
nav.lang{
    position: absolute;
    top:30px;
    right:35px;
    font-size: 14px;
}
nav.lang a{
    background-color: grey;
    display:inline-block;
    margin-left:7px;
}
nav.lang a.active{
    background-color: white;
}

h1{
    font-size: 50px;
    line-height:50px;
    color: white;
    font-family: 'BerlingskeSerifCn-Bold', serif;
    position: absolute;
    top:100px;
    left:110px;

}

h1.home{
    font-family: 'BerlingskeSerifCn-Blk', serif;
}

.uppercase  {
    top:105px;
    text-transform: uppercase;
}

.audio {
    color: white;
    font-size: 19px;

}
/* ITEMS
*******************************************************************/
.item{
    width:435px;
    height: 215px;
    position: absolute;
    top:230px;
}
.item01, .item03{
    left:0;
}
.item02, .item04{
    left:435px;
}
.item03, .item04{
    top:444px;
}
.item .number{
    float:left;
    width:147px;
    text-align: right;
    font-size: 100px;
    line-height:137px ;
    font-family: 'BerlingskeSerifCn-Blk', serif;
    margin-top: -6px;
    margin-right:25px;
}

.large{
    left:250px !important;

}
.item .numbTxt{
    float:left;
    width:263px;
    height:76px;
    margin-bottom: 15px;
    overflow: hidden;
    line-height: 20px;
    padding-top: 15px;
}
.item .button{
    border:none;
    font-family: 'BerlingskeSansCn-Rg', sans-serif;
    font-size: 16px;
    display:block;
    width:263px;

}

/* PERSON
*******************************************************************/
.txtPerson{
    position: absolute;
    top:190px;
    left:110px;
    width:867px;
    height:520px;
    overflow: scroll;
    font-size: 22px;
    line-height: 150%;
    font-family: 'BerlingskeSansCn-Rg', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 75px!important;
}

.smallTxtPerson{

    font-size: 17px;
    line-height: 20px;

}

.txtPerson:after{
    content:"";
    height:120px;
    position: fixed;
    top:600px;
    left:80px;
    width:866px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 74%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.txtPerson button{
    border:none;
    font-family: 'BerlingskeSansCn-Rg', sans-serif;
    font-size: 16px;
    display:block;
    margin-top:13px;
    z-index: 999;
    position: relative;
    margin-bottom: 20px;

}
/* PERSON ITEMS
*******************************************************************/
.personItems{
    position:absolute;
    top:180px;
    left:80px;
    width:866px;
    height:520px;
    overflow: scroll;
}
.personItems:after{
    content:"";
    height:130px;
    position: fixed;
    top:580px;
    left:80px;
    width:866px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 74%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.personItems ul{
    list-style: none;
    margin:0 0 40px 0;
    padding:0;
}
.personItems ul li{
    padding:10px 0 15px 0 ;
}
.personItems .number{
    float:left;
    font-size: 110px;
    line-height: 110px;
    display:inline-block;
    margin-right:15px;
    color:#FFF;
    text-align: left;
    font-family:'BerlingskeSerifCn-Blk', serif;
    width:53px;
}
.personItems .largeNumber{
    float:left;
    font-size: 110px;
    line-height: 110px;
    display:inline-block;
    margin-right:15px;
    color:#FFF;
    font-family:'BerlingskeSerifCn-Blk', serif;
    width:108px;
    text-align: center;

}
.kid .item .number,
.kid .personItems .largeNumber,
.kid h1{
    font-family:'BerlingskeSansCn-It', sans-serif;
}
.personItems .numbTxt{
    margin-left:48px;
    padding-top: 20px;
    line-height: 150%;
}


.personItems .button{
    margin-top:10px;
    border:none;
    font-family: 'BerlingskeSansCn-Rg', sans-serif;
    font-size: 18px;
    display:block;

}


/* ITEM LANDINGPAGE
*******************************************************************/
.text nav.lp{
    position: absolute;
    top:192px;
    left:78px;
}
.text nav.lp a {
    display:block;
    width:200px;
    margin-bottom:30px;
}
.text .txt{
    position: absolute;
    top:188px;
    left:376px;
    width:568px;
    height:526px;
    overflow: scroll;
    font-size: 22px;
    line-height: 150%;
    font-family: 'BerlingskeSansCn-Rg', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 75px!important;
}


.txt p{
    padding-bottom: 8px;
}
.text .txt:after{
    content:"";
    height:100px;
    position: fixed;
    top:620px;
    left:376px;
    width:568px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 75%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.text .txt button{
    border:none;
    font-family:'BerlingskeSansCn-Rg', sans-serif;
    font-size: 16px;
    display:block;
    margin-top:13px;
    z-index: 999;
    position: relative;
    margin-bottom: 20px;

}
.text .moreTxt{
    display:none;
}

/* SOUND LANDINGPAGE
*******************************************************************/
.soundIkon{
    width:128px;
    height: 128px;
    position:absolute;
    top:50%;
    left:50%;
    background: transparent url(../img/soundBg.png) no-repeat 0% 0%;
    background-size: 128px 128px;
    margin-top:-104px;
    margin-left:-64px;
}